*.sqlite
*.sqlite/
bin/
target/
notes/

__pycach__/

# pokeapi endpoints 
berry/
berry-firmness/
berry-flavors/

contest-type/
contest-effect/ 
super-contest-effect/

encounter-methods/ 
encounter-condition/ 
encounter-condition-value/

evolution-chain/ 
evolution-trigger/

generation/ 
pokedex/ 
version/ 
version-group/

item/ 
item-attribute/ 
item-category/ 
item-fling-effect/ 
item-pocket/

location/
location-area/
pal-park-area/
region/

machine/

ability/ 
characteristic/ 
gender/ 
growth-rate/
nature/
pokeathlon-stat/
pokemon/
pokemon-location-area/
pokemon-color/
pokemon-form/
pokemon-habitat/
pokemon-shape/
pokemon-species/
stat/
type/